body {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dashboard-left {
    background: #174A84;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: fit-content;
}

.sidebar-brand {
    text-decoration: none;
    height: 100px;
}

.sidebar-brand-text {
    font-size: 25px;
    color: aliceblue;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.custom-hr-title {
    width: 90%;
    color: aliceblue;
    margin: 0 auto;
}

.custome-menu-manage {
    color: #fff;
}

.custom-item-dashboard {
    max-width: 100%;
}

.item-dashboard {
    font-size: 18px;
    max-width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.item-dashboard a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding: 0 20px;
}

.item-dashboard a i {
    margin-right: 10px;
    min-width: 30px;
    display: flex;
    justify-content: center;
}
