.forgotPassword {
    margin-top: 60px;
    font-size: 20px;
}

.button-sendotp {
    margin-top: 20px;
}

.forgotPassword {
    padding-top: 100px;
}

.button-sendotp {
    background: linear-gradient(90deg, #1DE54F, #36BE58);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    border: none;
    font-size: 15px;
}

.button-sendotp:hover {
    background: linear-gradient(90deg, #36BE58, #1DE54F);
}

.form-forgotpassword {
    border: 2px solid #000;
height: 250px;
}

.form-group {
    margin-top: 50px;
}



.frame-input-email {
    width: 300px;

}
